@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.container{
    width: 1152px;
    margin: auto;
}
.contact-div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-icon img{
    width: 30px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.239);

}
.chair-icon{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:rgba(128, 128, 128, 0.253);;
}
.nav-link li{
display: inline-block;
margin: 50px 20px;
font-weight: 600;

}
.nav-link li a{
    text-decoration: none;
    color: black;

}
.menu-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button1{
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    padding: 10px 30px;
    font-weight: bold;
    border: 3px solid #E12454 ;
    cursor: pointer;
   
    transition: all 0.3s;
}

.button1:hover{
    border: 3px solid transparent;
    background-color: #E12454 ;
    color: rgb(255, 255, 255);

}
.button2{
    background-color:#E12454;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    border: 3px solid transparent;
  cursor: pointer;
  margin-left: 30px;
  
  transition: all 0.3s;
}
.button2:hover{
    border: 3px solid #E12454;
    background-color: white;
    color: black;

}

.img img{
    width: 70px;
}
.img{
display: flex;
align-items: center;
}
.img h3{
    margin-left: 20px;
}
.hero-section{
   
    background-image: url('../image/background\ img.png');
    background-repeat: no-repeat;
background-size: cover;

}
.hero-container{
    display: flex;
    justify-content: space-between;
align-items: center;
}
.details{
color: white;
}
.title{
    margin: 40px 0;
}
.img{
    margin: 40px 0;
}
